* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.idk {
    background-color: #2362CC;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input {
    border-radius: 4px;
    border-color: #2362CC;
    padding-left: 10px;
    font-size: 20px;
    width: 350px;
    height: 50px;
}

.add {
    cursor: pointer;
    border: none;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    background-color: #2362CC;
    height: 50px;
    width: 80px;
    font-size: 18px;
}

.top {
    gap: 5px;
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.todo-list {
    overflow: hidden;
    flex-direction: column;
    display: flex;
    justify-content: center;
    background-color: white;
    width: 500px;
    height: 550px;
    border-radius: 10px;
}

.bottom {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 80%;
}

.li-class {
    font-family: 'Roboto', sans-serif;
    margin-top: 5px;
    border: 1px solid black;
    border-radius: 5px;
    padding-left: 6px;
    list-style: none;
    background-color: #C5E1E5;
    width: 435px;
    height: 50px;
    font-size: 22px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.delbtn {
    cursor: pointer;
    margin-right: 6px;
    font-size: 22px;
    background-color: #1D1BA3;
    width: 40px;
    height: 40px;
    border: none;
    color: white;
    border-radius: 5px;
}
